/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;

  padding: 5px 10px;
  margin-left: 10px;
  background: rgba(15, 23, 42, 0.95); /* glass dark */
  backdrop-filter: blur(10px);

  color: white;

  position: sticky;
  top: 0;
  z-index: 1000;
}

/* LEFT */
.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* LOGO */
.logo {
  font-size: 22px;
  font-weight: bold;
  color: #38bdf8;
}

/* CATEGORIES */
.categories {
  display: flex;
  gap: 15px;
}

.categories span {
  font-size: 14px;
  cursor: pointer;
  color: #cbd5f5;
  transition: 0.3s;
}

.categories span:hover {
  color: #38bdf8;
  transform: translateY(-2px);
}

/* SEARCH */
.search-bar {
  width: 40%;
  padding: 10px 15px;

  border-radius: 20px;
  border: none;
  outline: none;

  background: #1e293b;
  color: white;
}

/* RIGHT */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links span,
.nav-links a {
  cursor: pointer;
  color: #cbd5f5;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links span:hover,
.nav-links a:hover {
  color: #38bdf8;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar {
  width: 500px;   /* increased size */
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
  }

  @media (max-width: 768px) {
  .search-bar {
    width: 100%;
  }
}

  .categories {
    overflow-x: auto;
  }
}

.user-email {
  font-size: 12px;
  color: #fff;
}

.logout-btn {
  background: #ff4d4f;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #d9363e;
}

.more {
  cursor: pointer;
}